nav{
    padding: auto;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link{
    font-size: 25px;
}

#quemsomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;
}

.display{
    color: #0078AD;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
}

.display_porque{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #101828;
}

.lead{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;   
}

#sobre{
    display: flex;
    padding: 0px 0px 96px;
    gap: 64px;
    justify-content: center;
    flex-direction: row;
}

.projetos{
    display: flex;
    flex-direction: column;
}

.projetos h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #0078AD;
    margin-top: 99px;
    
}

.projetos h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.projetos p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    width: 200px;
}

#team{
    margin: auto;
}

.vagas h5{
    font-family: 'Inter';
    font-style: normal; 
    font-size: 14px;
    color: #0078AD;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    width: 110px;
    padding: 4px 12px;
    margin: auto;
    margin-top: 196px;
}

.vagas h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    margin: 16px ;
}

.vagas p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    margin-top: 20px;
}

.vagas img{
    margin-top: 64px;
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 25%; 
}

.profissao{
    margin: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.profissao h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
}

.cargo{
    margin-top: 32px;
    width: 768px;
    height: 136px;
    padding: 24px 24px 28px;
    gap: 24px;
    border: 1px solid #EAECF0;
    border-radius: 16px;    
}

.cargo h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.carga{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin-top: 32px;
}

.carga p1{
    margin-right: 24px;
}

#avaliacao{
    margin-top: 96px;
    padding: 64px;
    gap: 32px;
    background: rgba(0, 120, 173, 0.03);
    border-radius: 16px;
    text-align: center;
    height: 404px;
    margin: auto;

}

#avaliacao h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #0078AD;
}

#avaliacao h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    margin-left: 64px;
}

#avaliacao img{
    margin-top: 32px;
}

#avaliacao h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #101828;
    margin-top: 16px;
}

#avaliacao p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
    margin-top: 4px;
    
}

#footer{
    padding: 96px;
    gap: 32px;
    background: #F9FAFB;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.p-footer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    margin-top: 20px;
}

.copy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

@media(max-width:768px){
    .botao{
        display:flex ;
    }

    #sobre{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #avaliacao{
        height: auto;
    }

    .cargo{
        width: 650px;
    }

    .d-flex {
        display: flex!important;
        flex-direction: column;
    }
}

@media (max-width:320px) {
    #sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projetos{
        display: flex;
        flex-direction: column;
        align-items:center ;
    }   

    .vagas h5{
        margin-top: 60px;
    }

    .cargo{
        width: 290px;
    }

    .carga{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    #avaliacao h1{
        margin-left: 1px;
        font-size: 25px;
        line-height: 30px;
    }

    #footer{
        display: flex;
        padding: 96px;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p-footer{
        width: 280px;
    }

    .formulario{
        display: flex;  
        flex-direction: column;
        align-items: center;
    }

    .form-control {
        width: auto;
        margin-top: 32px;
    }
    
    .btn{
        margin-top: 20px;
    }
}